@media screen and (min-width:500px) {
  

*{
  margin: 5px;
  box-sizing: border-box;
}
body{
  text-align: center;
  font-family:'Trebuchet MS';
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url("contactus.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color:white;

}

.main{
  display: flex;
  position: absolute;
  top: 200px;
  left:50px;
  bottom: 50px;
  height: 100%;
  width: 90%;
  background-color:  rgb(248, 241, 225,.5);
  align-items: center;
  

}
header{
  background-color:#937b4f;
}
main{
 flex: 1 1 150px;
  
}
footer{
  padding: 1em 0 1em 0;
  background-color: #937b4f;
}
.pt img{
    height: 200px;
    width: 200px;
    float: none;
}
.his h3{
  text-shadow: 1px 1px;
  text-align: left;
  color: white
}
.hint h5{
  text-align: left;
  padding-left: 1cm;
  text-align: justify;
  color: black;
  line-height: .8cm;
}
.serv h3{
  text-shadow: 1px 1px;
  text-align: left;
  color: white
}
.cv h5{
  text-align: left;
  padding-left: 1cm;
  text-align: justify;
  color: black;
  line-height: .8cm;
}
.au {
  float: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pr h3{
  text-shadow: 1px 1px;
  text-align: left;
  color: white
}
.jg h5{
  text-align: left;
  padding-left: 1cm;
  text-align: justify;
  color: black;
  line-height: .8cm;
}
.main{
  font-family: 'Quicksand';
  font-size: medium;
}
}